@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  /* transition: all 0.3s linear; */
}
:root {
  --orange-color: #face08;
  --box-shadow-dark: 0 5px 10px rgba(0, 0, 0, 0.5);
  --box-shadow-medium: 0 5px 10px rgba(0, 0, 0, 0.3);
  --box-shadow-light: 0 5px 10px rgba(0, 0, 0, 0.2);
  --box-shadow-inset: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: aliceblue;
}
.body.no-scroll-y {
  overflow-y: hidden;
}
.body.no-scroll-y::-webkit-scrollbar {
  width: 0;
}
*::selection {
  background: var(--orange-color);
  color: #fff;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-track {
  background: #898a8a;
}
::-webkit-scrollbar-thumb {
  background: var(--orange-color);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(247, 196, 31);
}

/* section headings */
/* .package h2,
.book h2,
.service h2,
.gallery h2,
.review h2, */
.contact h2 {
  text-align: center;
  font-size: 1.5rem;
  background: var(--orange-color);
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
.underline {
  width: 5rem;
  height: 5px;
  background: var(--orange-color);
  text-align: center;
}

/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease;
  z-index: 2;
}
.navbar.sticky {
  background: rgba(0, 0, 0, 0.8);
  /* backdrop-filter: rgba(0, 0, 0, 0.8); */
  height: 3rem;
}
.navbar.sticky .menu li a {
  color: var(--orange-color);
}
.navbar.sticky {
  /* margin-bottom: 5rem; */
  position: fixed;
}
.navbar .logo a {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  color: var(--orange-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .logo a span {
  color: #fff;
}
.navbar .logo a:hover {
  border-bottom: 1px dotted #fff;
}
.navbar .logo img {
  width: 40px;
  height: 40px;
  margin-right: 0.25rem;
}
.navbar .menu li {
  list-style-type: none;
  display: inline-block;
  margin: 0 1rem;
}
.navbar .menu li a {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 400;
  position: relative;
}
.navbar .menu li a:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -2px;
  background: #fff;
}
.navbar .menu li a:hover:before {
  animation: link 0.3s ease-in-out;
  width: 100%;
}
@keyframes link {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* menu-bar */
.navbar .menu-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.navbar .search-bar-box {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  margin-top: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.navbar .search-bar-box.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.navbar .search-bar-box #search-bar {
  width: 60%;
  border-radius: 0.25rem;
  color: #111;
  text-transform: none;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #111;
}
.navbar .search-bar-box label {
  cursor: pointer;
  font-size: 1.15rem;
  margin-left: 0.5rem;
}
/* commom media-icons */
.media-icons a {
  margin: 0 0.25rem;
}
.media-icons i {
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #4f5050;
  cursor: pointer;
  transition: 0.3s linear;
}
.media-icons a:hover i {
  color: #333;
  background: #fff;
}
/* home-section */
section {
  padding: 2rem 4rem;
}
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
#home .content {
  text-align: center;
  z-index: 1;
}
#home .content h2 {
  color: #fff;
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
#home .content p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0 1.5rem 0;
  color: #fff;
}

#home .content .btn {
  padding: 0.5rem;
  background: var(--orange-color);
  color: #fff;
  border-radius: 0.25rem;
}

#home .content .btn:hover {
  color: var(--orange-color);
  background: transparent;
  border: 1px solid var(--orange-color);
}
#home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
#home .controls {
  padding: 0.25rem 0.5rem;
  background: #111;
  position: relative;
  top: 1rem;
  border-radius: 1rem;
}
#home .controls .vid-btn {
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  cursor: pointer;
  margin: 0.25rem 0;
  border-radius: 50%;
}
#home .controls .vid-btn.active {
  background: var(--orange-color);
}
.main-container {
  width: 100%;
  min-height: calc(100vh - 50rem);
  /* max-height: calc(100vh - 50rem); */
}
/* about camping */
.about-camp-desc p {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 500;
}

/* camp-highlight */
.about-camp,
.camp-highlight,
.camp-overview {
  /* height: calc(100vh - 5rem); */
  width: 80%;
  background: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2rem auto;
  border-radius: 0.25rem;
  padding-top: 5rem;
}
.about-camp .heading,
.left-high .heading,
.camp-overview .heading {
  margin: 0 0 1rem 0;
}
.about-camp .heading span,
.left-high .heading span,
.camp-overview .heading span {
  font-size: 1.25rem;
  border-bottom: 2px solid #f79707;
  margin: 1rem 0;
}
.high-points .point {
  margin: 0.5rem 0;
}
.high-points i {
  color: #f79707;
  font-size: 1.25rem;
  margin: 0 0.25rem 0 0;
}
.high-points .point span {
  font-size: 1.15rem;
  font-weight: 500;
}
/* camp-overview */
.camp-overview {
  position: relative;
  width: 80%;
  background-color: rgb(247, 245, 245);
}
.camp-overview.hide {
  display: none;
}
.camp-quick-info .quick-title {
  font-size: 1.05rem;
  border: 1px solid #face08;
  padding: 0.15rem;
  border-radius: 0.25rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  margin: 1rem 0;
}

.camp-quick-info .fas {
  margin-right: 0.5rem;
  color: #ff9900;
}
.quick-info-items {
  margin: 0.5rem 0;
}
.quick-info-items .li {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

/* fix-menu */
.fix-menu {
  transition: 5s ease-in-out;
  position: relative;
  width: 100%;
}
.fix-menu .menu-links {
  position: sticky;
  top: 5%;
  left: 0;
  margin: 1rem 0;
  /* padding: 0.5rem 0; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fff;
  border: 1px solid rgba(248, 167, 46, 0.4);
  border-radius: 0.25rem;
  box-shadow: 0px 1px 1px 1px rgba(245, 148, 70, 0.4),
    -1px -1px 1px 1px rgba(248, 167, 46, 0.4);
  z-index: 1;
}
.fix-menu .fmli {
  width: 100%;
  padding: 1rem;
  margin: auto;
  text-align: center;
  color: #fdba55;
  font-size: 1.05rem;
  font-weight: 500;
}
.fix-menu .fmli:hover {
  background-color: rgba(247, 140, 0, 0.1);
  color: rgb(243, 125, 14);
}
.fix-menu .fmli:not(:first-of-type) {
  margin-left: -5px;
}
.fix-menu .fmli:not(:last-of-type) {
  border-right: 1px solid rgba(248, 167, 46, 0.4);
}

/* camp-schedule */
.menu-items {
  transition: 0.5s ease-in-out;
  background-color: rgb(247, 245, 245);
  width: 100%;
}
#camp-schedule,
#camp-pack,
#camp-map,
#camp-gallery {
  background-color: rgb(255, 255, 255);
  padding: 7rem 1rem 2rem;
  margin: 1rem auto;
  width: 100%;
  border-radius: 0.5rem;
  position: relative;
}
#camp-schedule {
  padding-top: 7.5rem;
}
#camp-schedule .day-sub-title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#camp-schedule .day-sub-title .day-f {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #444;
}
.dot {
  transition: 0.5s ease-in-out;
}
.day-one-collapse,
.day-two-collapse {
  color: #f79707;
  cursor: pointer;
  border: 1px solid #f79707;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
#camp-schedule .timewise-schedule:after {
  content: "";
  position: absolute;
  top: -3.5%;
  left: -3%;
  width: 1px;
  height: 107%;
  background-color: #333;
}
.timewise-schedule {
  position: relative;
  width: 100%;
  margin-left: 3rem;
  transition: all 0.5s ease-in;
}
.timewise-schedule.collapse-me {
  display: none;
  transition: 2s ease-in-out;
}
.timewise-schedule p {
  margin: 0.5rem 0 0.5rem -0.5rem;
  font-size: 1rem;
  font-weight: 500;
  width: 90%;
}
.timewise-schedule span {
  font-size: 1rem;
  font-weight: 600;
}
/* camp sub heading */
.menu-items .camp-sub-heading {
  font-size: 1.15rem;
  font-weight: 600;
  color: #444;
  margin: 0.5rem 0;
}
/* camp -pack */
#camp-pack {
  margin: 1rem 0;
}
#camp-pack .st {
  margin: 1rem 0;
}
.menu-items .camp-sub-title span,
#camp-map .camp-sub-title span {
  font-size: 1.25rem;
  font-weight: 600;
  border-top: 2px solid rgb(243, 125, 14);
  border-bottom: 2px solid rgb(243, 125, 14);
  padding: 0.15rem 0;
}
#camp-pack .top-desc {
  padding: 1rem;
  border: 1px solid rgb(233, 221, 221);
  border-radius: 0.5rem;
}
.top-desc .desc-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(233, 221, 221);
}
.top-desc .desc-2 {
  padding: 1rem 0;
}
.pack-details span {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 500;
}
.pack-details span i {
  color: rgb(243, 125, 14);
}
.top-desc .rd .cp {
  font-size: 1rem;
  font-style: italic;
  text-decoration: line-through;
}
.top-desc .rd .op {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(243, 125, 14);
}
.top-desc .rd .pp {
  font-size: 1rem;
  font-weight: 500;
}
.desc-2 .best-wishes {
  font-size: 1rem;
  color: #333;
}
.desc-2 .list-item {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: row;
  margin: 0.5rem 0;
}
.desc-2 .list-item .items .ht {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(202, 139, 97);
}
.desc-2 .list-item .items span {
  font-size: 0.8rem;
  text-transform: lowercase;
}
.desc-2 .list-item i {
  font-size: 1rem;
  /* line-height: 30px; */
  text-align: center;
  padding: 0.25rem 0.25rem 0 0;
}

/* camp map */
#camp-map .st,
#camp-gallery .st {
  margin: 1rem 0;
}
#camp-map .camp-loc {
  width: 100%;
  height: 400px;
}
#camp-map .camp-loc iframe {
  width: 100%;
  padding-bottom: 2rem;
}
/* camp-gallery */
#camp-gallery {
  position: relative;
  width: 100%;
  padding: 7rem 2rem 1rem;
  margin: 0 auto;
  background: #fff;
}
#camp-gallery .gallery-items {
  margin: 0 auto;
}
#camp-gallery .slider .slick-arrow {
  color: rgb(70, 65, 65) !important;
  background-color: #f79707;
  border-radius: 50%;
  margin: auto;
  /* width: 100%; */
  /* height: 100%; */
}
#camp-gallery .slider {
  margin: 0 auto;
}
/* #camp-gallery .brand-box {
  margin: 0 1rem;
} */
#camp-gallery .brand-box img {
  width: 400px;
  height: 250px;
  margin: 0 auto;
}
/* seemoreslide */
#camp-gallery .gallery-items-see-more {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 10;
  display: none;
}
#camp-gallery .gallery-items-see-more.show-me {
  display: block;
}
/* #camp-gallery .gallery-items-see-more .seemoreslide .slick-arrow {
  background-color: #333;
  border: 1px solid #fff;
} */
#camp-gallery .gallery-items-see-more .brand-box a,
#camp-gallery .gallery-items .brand-box a {
  cursor: pointer;
}

/* #camp-gallery .gallery-items-see-more .brand-box {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
} */
#camp-gallery .seemoreslide {
  position: relative;
  margin: 1rem auto;
  width: 80%;
  margin: 0 auto;
}
#camp-gallery .seemoreslide .brand-box {
  margin: 0 auto;
}

#camp-gallery .seemoreslide .slick-dots button::before {
  color: rgb(173, 173, 173) !important;
  opacity: 1;
}
#camp-gallery .seemoreslide .slick-dots .slick-active button::before {
  color: #fff !important;
}
#camp-gallery .seemoreslide .slick-arrow button::before {
  position: absolute;
  top: 0;
  right: -10%;
  color: rgb(173, 173, 173) !important;
  opacity: 1;
  /* z-index: 100; */
}

#camp-gallery .gallery-items-see-more .brand-box img {
  width: 80%;
  height: 550px;
  margin: 3rem auto;
}

#camp-gallery .sms-close-btn {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 1rem;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  background-color: #fff;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
#camp-gallery .sms-close-btn i {
  text-align: center;
  line-height: 25px;
  width: 25px;
  height: 25px;
}
#camp-gallery .sms-close-btn:hover {
  background-color: rgb(255, 161, 37);
  color: #fff;
}
#camp-gallery .see-more {
  margin: 3rem auto 1rem;
  text-align: center;
}
#camp-gallery .see-more .see-more-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #f79707;
  border: 0.25rem;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#camp-gallery .see-more .see-more-btn:hover {
  border: 1px solid #f79707;
  color: #f79707;
  background-color: #fff;
}

/* packages */
.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .package .box-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.5rem;
  padding: 4rem 0;
}
.package .box-container .box {
  display: flex;
  padding: 0 0 0.5rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-shadow: var(--box-shadow-light);
  border-radius: 0.5rem;
}
.package .box-container .box:hover {
  box-shadow: var(--box-shadow-dark);
}
.package .box-container .box:hover img {
  transform: scale(1.03);
}
.package .box-container .box img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.package .box-container .box .content {
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.package .box-container .box .content h4 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #333;
}
.package .box-container .box .content h4 i {
  color: var(--orange-color);
  margin-right: 0.25rem;
}
.package .box-container .content p {
  font-size: 1rem;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}
.package .box-container .box .content .stars {
  padding: 0 0.5rem;
}
.package .box-container .box .content .stars i {
  color: var(--orange-color);
  font-size: 1rem;
  margin: 0.5rem 0;
}
.package .box-container .box .content .price {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  padding: 0 0.5rem;
}
.package .box-container .box .content .price span {
  font-size: 1rem;
  text-decoration: line-through;
  margin-left: 0.25rem;
}
.package .box-container .content .package-btn {
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}
.package .box-container .content .package-btn a {
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  background: var(--orange-color);
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.package .box-container .content a:hover {
  color: var(--orange-color);
  background: transparent;
  border: 1px solid var(--orange-color);
} */

/* services */
/* .service .service-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
  padding: 2rem 0;
}
.service .service-box .box {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-light);
}
.service .service-box .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  text-align: center;
}
.service .service-box .box:hover {
  box-shadow: var(--box-shadow-dark);
}
.service .service-box .box:hover .content {
  transform: scale(1.03);
}
.service .service-box .box i {
  font-size: 3rem;
  color: var(--orange-color);
  text-align: center;
}
.service .service-box .box h4 {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin: 0.5rem 0;
}
.service .service-box .box p {
  font-size: 1.25rem;
  color: #333;
  text-align: center;
} */

/* gallery */
/* .gallery .gallery-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2rem 0;
}
.gallery .gallery-box .box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .gallery-box .box img {
  width: 100%;
  height: 300px;
}
.gallery .gallery-box .box:hover {
  transform: translateY(-5px);
}
.gallery .gallery-box .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s all;
  opacity: 0;
  z-index: 2;
}
.gallery .gallery-box .box:hover:before {
  opacity: 1;
}
.gallery .gallery-box .box .gallery-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15%;
  z-index: 3;
  opacity: 0;
}
.gallery .gallery-box .box:hover .gallery-info {
  opacity: 1;
  transform: translateY(30px);
}
.gallery .box h4 {
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
  margin-bottom: 1rem;
}
.gallery .box p {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  padding: 0 1rem;
  width: 80%;
  margin: 0 auto;
}
.gallery .box .btn {
  margin: 1rem 0;
}
.gallery .box .btn a {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: var(--orange-color);
  color: #fff;
  font-size: 1rem;
}
.gallery .box .btn a:hover {
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
  background: transparent;
} */

/* review section*/
/* .review .container {
  padding: 2rem 0;
}
.review .review-slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 1rem 0;
}
.review .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  box-shadow: var(--box-shadow-dark);
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.7);
}
.review .box .img-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.review .box h4 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}
.review .box p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}
.review .box .stars i {
  color: var(--orange-color);
  font-size: 1rem;
}
.owl-dots {
  text-align: center;
  margin: 1rem;
}
.owl-dot {
  height: 0.75rem;
  width: 0.75rem;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid crimson;
  margin: 0 0.25rem;
  transition: all 0.3s linear;
  background: #111 !important;
}
.owl-dot.active {
  width: 35px;
  border-radius: 0.5rem;
}
.owl-dot.active,
.owl-dot:hover {
  background: var(--orange-color) !important;
} */

/* special-day */
.special-day {
  width: 80%;
  margin: 4rem auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  border-radius: 0.5rem;
  padding: 6rem 2rem 2rem;
}
.special-day .special-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.special-day .special-title span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #face08;
}
.special-offer {
  width: 100%;
}
.special-offer .offer-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.special-offer .offer-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.special-offer .offer-desc .offer-h {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(100, 94, 94);
  animation: lightchange 2s infinite;
  text-decoration: underline;
}
@keyframes lightchange {
  0% {
    color: #242323;
  }
  25% {
    color: #4f5d8d;
  }
  50% {
    color: #232370;
  }
  100% {
    color: #154917;
  }
}
.special-offer .offer-desc .offer-subh {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(32, 112, 150);
  margin: 0.5rem 0;
}
.special-offer .offer-desc .offer-pr {
  font-size: 1.05rem;
  font-weight: 600;
  background-color: rgb(49, 97, 97);
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: rgb(255, 255, 255);
}
.special-offer .offer-desc .offer-pr .ap {
  color: #fdba55;
  font-size: 1.5rem;
}
.special-offer .offer-desc .offer-pr .cp {
  color: #fdba55;
  font-size: 0.9rem;
  text-decoration: 1px solid #fff line-through;
}
.special-offer .offer-details .img-box img {
  width: 100px;
  height: 100px;
}
.special-offer .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0;
}
.special-offer .btn-box a {
  color: #fff;
  background-color: #face08;
  border: 2px solid rgba(226, 157, 7, 0.568);
  padding: 0.25rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.special-offer .btn-box a:hover {
  /* border: 2px solid #fff; */
  color: #face08;
  background-color: #fff;
}
.special-offer .offer-details .img-1 {
  animation: rotateme 1s alternate-reverse ease-in-out infinite;
}
@keyframes rotateme {
  0% {
    transform: scale(0.8) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(50deg);
  }
}
.special-offer .offer-details .img-2 {
  animation: liftme 1s alternate-reverse ease-in-out infinite;
}
@keyframes liftme {
  0% {
    transform: translateY(40%);
  }
  50% {
    transform: translateY(-40%);
  }
}
/* roadvan */
.roadvan {
  width: 100%;
  background-color: rgb(74, 85, 94);
  margin: 2rem auto;
  /* border-radius: 0.5rem; */
}
.roadvan .contact-img {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: -1;
}
.roadvan .img-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotate(0deg);
}
@keyframes letsgo {
  0% {
    transform: translate(0%, 10%);
  }
  100% {
    transform: translate(700%, 10%);
  }
}
.roadvan .c-van,
.roadvan .c-site {
  width: 150px;
  height: 150px;
}
.roadvan .c-van {
  transform: translateY(10%);
  animation: letsgo 5s ease-in-out infinite;
}

.roadvan .c-road {
  width: 50px;
  transform: translateY(50%) rotate(90deg);
  z-index: -2;
}
.roadvan .text-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  /* left: 50%; */
  /* transform: translate(-50%); */
}
.roadvan .text-msg span {
  color: #fff;
  /* position: relative;
  transform: translate(-50%);
  left: 50%; */
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 auto;
  border-bottom: 1px dashed #fff;
}

/* contact section*/
.contact {
  width: 80%;
  margin: 2rem auto;
  background-color: rgb(247, 245, 245);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
  border-radius: 0.5rem;
}
.contact .st {
  margin: 0.5rem 0;
}
.contact .st span {
  font-size: 1.05rem;
  font-weight: 600;
  color: #f79707;
  border-bottom: 1px solid #f79707;
}

.contact .contact-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 2rem 1rem;
  width: 100%;
  background-color: #fff;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.contact .contact-row .input-box {
  width: 100%;
  padding: 0.5rem;
}
.contact .contact-row form .input-box input,
.contact .contact-row form .input-box textarea {
  border-radius: 0.25rem;
  border: 1px solid var(--orange-color);
  color: #111;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
  resize: none;
}
.contact form .input-box input::placeholder,
.contact form .input-box textarea::placeholder {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(121, 121, 118);
}
.contact form .submit-btn {
  margin: 0.5rem auto;
}
.contact form .submit-btn button {
  color: #fff;
  padding: 0.5rem 1rem;
  background: var(--orange-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s linear;
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
  border: 1px solid var(--orange-color);
}
.contact form .submit-btn button:hover {
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
  background: transparent;
}

.contact .contact-form {
  width: calc(50% - 20px);
}
.contact .contact-row form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-medium);
  padding: 1rem;
}

.contact .get-in-touch,
.contact .contact-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  /* background-color: antiquewhite; */
  padding: 1rem;
}
.get-in-touch-cont {
  margin: 1rem 0;
  width: 100%;
  border-radius: 0.5rem;
}
.get-in-touch .box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  /* border: 1px solid #888; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}
.get-in-touch .box .icon {
  margin-right: 0.5rem;
}
.get-in-touch .box .ct {
  font-size: 1.15rem;
  font-weight: 600;
}
.get-in-touch .box .cd span {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(71, 101, 109);
  cursor: pointer;
}
.get-in-touch .box .cd a {
  font-weight: 600;
  color: rgb(71, 101, 109);
  transition: all 0.3s ease-in-out;
}
.get-in-touch .box .cd span:hover,
.get-in-touch .box .cd a:hover {
  color: rgb(108, 143, 153);
}
/* footer section */
.footer {
  background: #333;
}
.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.footer .footer-container .box h4 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--orange-color);
}
.footer .footer-container .box p {
  font-size: 1.15rem;
  font-weight: 400;
  color: #fff;
  margin: 0.5rem 0;
}
.footer .box a {
  color: #fff;
  display: block;
  margin: 0.5rem 0;
  font-size: 1.15rem;
  font-weight: 400;
}
.footer .box a:hover {
  color: #999;
  text-decoration: underline;
}
.footer .footer-container .box i {
  margin-right: 0.5rem;
  font-size: 1rem;
}
.footer .credit {
  text-align: center;
  margin-top: 1rem;
}
.footer .credit h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
.footer .credit span {
  color: var(--orange-color);
  font-size: 1rem;
  font-weight: 600;
}

/* scroll to top cursor */
#top-btn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 10px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  background-color: var(--orange-color);
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s linear;
}
#top-btn:hover {
  background-color: rgba(214, 214, 98, 1);
  transform: translateY(-20%);
}

/* media queries */
@media only screen and (max-width: 1500px) {
  @keyframes letsgo {
    100% {
      transform: translate(600%, 10%);
    }
  }
}
@media only screen and (max-width: 1350px) {
  @keyframes letsgo {
    100% {
      transform: translate(500%, 10%);
    }
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 85%;
  }
  .navbar .logo a {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    color: var(--orange-color);
  }
  .book .booking-form,
  .contact .contact-form {
    width: calc(60% - 20px);
  }

  .book .book-row .book-img,
  .contact .contact-row .contact-img {
    width: 300px;
    height: 300px;
  }
  .review .review-slider {
    grid-template-columns: repeat(3, 1fr);
  }
  .media-icons a {
    margin: 0 0.15rem;
  }
  .media-icons i {
    font-size: 1rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #4f5050;
    cursor: pointer;
    transition: 0.3s linear;
  }
  @keyframes letsgo {
    100% {
      transform: translate(400%, 10%);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    justify-content: space-between;
    padding: 0 2rem;
  }
  .navbar .menu {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding: 4rem 0;
    transition: all 0.3s ease;
    z-index: 5;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu-btn {
    display: block;
    z-index: 99;
  }
  .navbar .menu-btn i.active::before {
    content: "\f00d";
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 1rem 0;
  }
  .navbar .media-icons {
    position: relative;
    z-index: 1;
  }
  .navbar .media-icons {
    position: absolute;
    right: 10%;
    margin-right: 1rem;
  }
  .book .booking-form,
  .contact .contact-form {
    width: calc(70% - 20px);
  }
  .book .book-row .book-img,
  .contact .contact-row .contact-img {
    width: 250px;
    height: 250px;
  }
  .service .service-box .box h4 {
    font-size: 1.5rem;
  }
  .service .service-box .box p {
    font-size: 1rem;
  }
  .roadvan .c-van,
  .roadvan .c-site {
    width: 100px;
    height: 100px;
  }
  .roadvan .c-road {
    width: 50px;
    height: 100px;
    transform: translateY(30%) rotate(90deg);
  }
  @keyframes letsgo {
    100% {
      transform: translate(530%, 10%);
    }
  }
  /* speial-day */
  .special-day .special-title span {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  .special-offer .offer-desc .offer-h {
    font-size: 1.15rem;
    font-weight: 700;
  }
  .special-offer .offer-desc .offer-subh {
    font-size: 1rem;
  }
  .special-offer .offer-desc .offer-pr {
    font-size: 1.05rem;
  }
  .special-offer .offer-desc .offer-pr .ap {
    font-size: 1.35rem;
  }
  .special-offer .offer-desc .offer-pr .cp {
    font-size: 0.9rem;
  }
  .special-offer .offer-details .img-box img {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 900px) {
  .package .box-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  @keyframes letsgo {
    100% {
      transform: translate(450%, 10%);
    }
  }
  .contact .contact-row {
    flex-direction: column;
    gap: 0rem;
    padding: 2rem 0.5rem;
    margin: 1rem 0;
  }
  .contact .contact-row .get-in-touch,
  .contact .contact-row .contact-form {
    padding: 0.5rem;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding: 2rem;
    height: 100vh;
  }
  header #menu-bar {
    display: initial;
  }
  header .navbar {
    position: absolute;
    min-height: 100vh;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem 1rem;
    background: rgba(0, 0, 0, 0.7);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s linear;
    z-index: 100000;
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    display: block;
    background: #132;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    color: #fff;
    border-radius: 0.25rem;
    text-align: center;
  }
  .navbar #menubar-close-btn {
    display: block;
    position: relative;
    top: 0rem;
    float: right;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: #fda;
    box-shadow: var(--box-shadow-light);
    cursor: pointer;
    z-index: 100000;
  }
  /* .book .book-row .book-img,
  .contact .contact-row .contact-img {
    width: 200px;
    height: 200px;
  }
  .package .box-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .service .service-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery .gallery-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .review .review-slider {
    grid-template-columns: repeat(2, 1fr);
  } */
  .footer .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .road-1 {
    display: none;
  }
  .roadvan .c-van,
  .roadvan .c-site {
    width: 75px;
    height: 75px;
  }
  .roadvan .c-road {
    width: 30px;
    height: 75px;
    transform: translateY(30%) rotate(90deg);
  }
  @keyframes letsgo {
    100% {
      transform: translate(450%, 10%);
    }
  }

  .about-camp,
  .camp-highlight,
  .camp-overview {
    width: 90%;
  }
  #camp-schedule .timewise-schedule:after {
    top: -2%;
    left: -3%;
    height: 104%;
  }
  .contact {
    width: 90%;
    margin: 2rem auto;
  }
  .contact h2 {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .underline {
    width: 2rem;
    height: 5px;
  }
  .fix-menu .fmli {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  #camp-gallery .gallery-items-see-more {
    margin: auto;
  }
  #camp-gallery
    .gallery-items-see-more
    .seemoreslide
    .slick-dots
    li
    button::before {
    display: none;
  }
  #camp-gallery .seemoreslide {
    width: 90%;
    /* height: 100vh; */
    margin: 6rem auto;
    /* display: grid;
    place-items: center; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin: 10rem auto; */
  }

  #camp-gallery .gallery-items-see-more {
    padding: 1rem;
  }
  #camp-gallery .gallery-items-see-more .brand-box img {
    width: 80%;
    height: 450px;
  }
  .roadvan .text-msg span {
    font-size: 1rem;
  }
  /* speial-day */
  .special-day {
    width: 90%;
  }
  .special-day .special-title span {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  .special-offer .offer-desc .offer-h {
    font-size: 1.15rem;
    font-weight: 700;
  }
  .special-offer .offer-desc .offer-subh {
    font-size: 1rem;
  }
  .special-offer .offer-desc .offer-pr {
    font-size: 0.9rem;
    padding: 0.25rem;
  }
  .special-offer .offer-desc .offer-pr .ap {
    font-size: 1.25rem;
  }
  .special-offer .offer-desc .offer-pr .cp {
    font-size: 0.8rem;
  }
  .special-offer .offer-details .img-box img {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 600px) {
  #home .content h2 {
    font-size: 2rem;
  }
  #home .content p {
    font-size: 1.15rem;
  }
  .form-container {
    width: 300px;
  }
  .form-container .tab-header {
    height: 30px;
    line-height: 30px;
  }
  .book,
  .package,
  .services,
  .gallery,
  .review,
  .contact {
    padding: 4rem 2rem;
  }
  .book .book-row .img-box,
  .book .booking-form,
  .contact .contact-row .img-box,
  .contact .contact-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .book .book-row,
  .contact .contact-row {
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .book .book-row img,
  .contact .contact-row img {
    width: 200px;
    height: 200px;
  }
  .service .service-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery .gallery-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery .box p {
    font-size: 1rem;
  }
  .review .review-slider {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .brand-container .brand-box img {
    width: 100px;
    height: 100px;
  }
  .road-2,
  .road-3 {
    display: none;
  }
  .roadvan .c-van,
  .roadvan .c-site {
    width: 75px;
    height: 75px;
  }
  .roadvan .c-road {
    width: 30px;
    height: 75px;
    transform: translateY(30%) rotate(90deg);
  }
  @keyframes letsgo {
    100% {
      transform: translate(250%, 10%);
    }
  }
  section {
    padding: 2rem 2rem;
  }
  #camp-map .camp-loc {
    width: 100%;
    height: 300px;
  }
  #camp-schedule .timewise-schedule:after {
    top: -2%;
    left: -6%;
  }
  #camp-schedule .day-sub-title {
    width: 100%;
  }
  .menu-items .camp-sub-heading {
    font-size: 1.05rem;
  }
  #camp-schedule .day-sub-title .day-f {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }
  .contact h2 {
    font-size: 1.25rem;
    padding: 0.25rem;
  }
  .underline {
    width: 2rem;
    height: 5px;
  }
  #camp-gallery .gallery-items-see-more .brand-box img {
    width: 80%;
    height: 350px;
  }
  .roadvan .text-msg {
    top: -10%;
  }
  .roadvan .text-msg span {
    font-size: 0.9rem;
  }
  /* speial-day */
  .special-day {
    width: 90%;
  }
  .special-offer .offer-details {
    justify-content: center;
    flex-direction: column;
  }
  .special-offer .offer-details .img-1,
  .special-offer .offer-details .img-2 {
    margin: 2rem 0;
  }
  .special-day .special-title span {
    font-size: 1.15rem;
  }
  .special-offer .offer-desc .offer-h {
    font-size: 1rem;
    text-align: center;
  }
  .special-offer .offer-desc .offer-subh {
    font-size: 0.9rem;
    text-align: center;
  }
  .special-offer .offer-desc .offer-pr {
    font-size: 0.9rem;
    padding: 0.25rem;
  }
  .special-offer .offer-desc .offer-pr .ap {
    font-size: 1.05rem;
  }
  .special-offer .offer-desc .offer-pr .cp {
    font-size: 0.8rem;
  }
  .special-offer .offer-details .img-box img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 450px) {
  #home .content h2 {
    font-size: 1.5rem;
  }
  #home .content p {
    font-size: 1rem;
  }
  .form-container {
    width: 250px;
  }
  .form-container .tab-header {
    height: 30px;
    line-height: 30px;
  }
  .package .box-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  .road-4 {
    display: none;
  }
  .roadvan .c-van,
  .roadvan .c-site {
    width: 50px;
    height: 50px;
  }
  .roadvan .c-road {
    width: 30px;
    height: 75px;
    transform: translateY(20%) rotate(90deg);
  }
  @keyframes letsgo {
    100% {
      transform: translate(300%, 10%);
    }
  }
  section {
    padding: 2rem 1rem;
  }
  #camp-map .camp-loc {
    width: 100%;
    height: 250px;
  }
  .menu-items .camp-sub-heading {
    font-size: 0.9rem;
  }
  .timewise-schedule p {
    font-size: 0.8rem;
    width: 90%;
  }
  .timewise-schedule span {
    font-size: 0.8rem;
  }
  #camp-schedule .timewise-schedule:after {
    top: -2%;
    left: -10%;
  }
  .contact {
    width: 90%;
    margin: 2rem auto;
  }
  .contact .contact-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0rem;
    padding: 2rem 0rem;
    width: 100%;
    background-color: #fff;
    margin: 1rem auto;
    border-radius: 0.5rem;
  }
  .fix-menu .fmli {
    padding: 0.25rem;
    font-size: 0.8rem;
  }
  #camp-gallery .gallery-items-see-more .brand-box img {
    width: 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 375px) {
  #camp-map .camp-loc {
    width: 100%;
    height: 200px;
  }
  #camp-gallery .gallery-items-see-more .brand-box img {
    width: 100%;
    height: 250px;
  }
}
